[Unit]
Description=XLX050 Charlie connection.

[Timer]
OnCalendar=15:00:00 America/Los_Angeles
Unit=pistar-link@xlx050_c.service

[Install]
WantedBy=timers.target

