[Unit]
Description=Connect to ECHO FCS00399 at 17:00 America/Chicago time.

[Timer]
OnCalendar=17:00:00 America/Chicago
Unit=pistar-ysflink@fcs00399.service

[Install]
WantedBy=timers.target

