[Unit]
Description=Connect to AmericaLink YSF89804 at 15:00 America/Chicago time.

[Timer]
OnCalendar=15:00:00 America/Chicago
Unit=pistar-ysflink@ysf89804.service

[Install]
WantedBy=timers.target

